name: CI_iOS

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: macos-latest

    steps:

      - uses: actions/checkout@v3

      - name: Select Xcode version
        run: sudo xcode-select -switch /Applications/Xcode.app

      - name: Build and Test for MacOS
        run: xcodebuild clean build test -project EssentialFeed/EssentialFeed.xcodeproj -scheme "CI_macOS" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO -sdk macosx -destination "platform=macOS" ONLY_ACTIVE_ARCH=YES
      
      - name: Build and Test for iOS
        run: xcodebuild clean build test -xcworkspace EssentialApplication.xcworkspace -scheme "CI_iOS" CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO -sdk iphonesimulator -destination "platform=iOS Simulator,OS=16.0,name=iPhone 14" ONLY_ACTIVE_ARCH=YES







